

@{ Layout = null; }


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Pro Sidebar template</title>
    <link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
    <link rel="stylesheet" href="~/Styles/style6.css">

</head>
<body style="float:right; text-align:right" >
    <!-- partial:index.partial.html -->
    <div class="layout has-sidebar fixed-sidebar fixed-header">
        <aside id="sidebar" class="sidebar break-point-lg has-bg-image">
            <div class="image-wrapper">
                <img src="" />
            </div>
            <div class="sidebar-layout">
                <div class="sidebar-header">
                    <span style="
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 3px;
                font-weight: bold;
              ">Pro Sidebar</span>
                </div>
                <div class="sidebar-content">
                    <nav class="menu open-current-submenu">
                        <ul>
                            <li class="menu-item sub-menu">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="ri-vip-diamond-fill"></i>
                                    </span>
                                    <span class="menu-title">Components</span>
                                    <span class="menu-suffix">&#x1F525;</span>
                                </a>
                                <div class="sub-menu-list">
                                    <ul>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">Grid</span>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">Layout</span>
                                            </a>
                                        </li>
                                        <li class="menu-item sub-menu">
                                            <a href="#">
                                                <span class="menu-title">Forms</span>
                                            </a>
                                            <div class="sub-menu-list">
                                                <ul>
                                                    <li class="menu-item">
                                                        <a href="#">
                                                            <span class="menu-title">Input</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="#">
                                                            <span class="menu-title">Select</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item sub-menu">
                                                        <a href="#">
                                                            <span class="menu-title">More</span>
                                                        </a>
                                                        <div class="sub-menu-list">
                                                            <ul>
                                                                <li class="menu-item">
                                                                    <a href="#">
                                                                        <span class="menu-title">CheckBox</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item">
                                                                    <a href="#">
                                                                        <span class="menu-title">Radio</span>
                                                                    </a>
                                                                </li>
                                                                <li class="menu-item sub-menu">
                                                                    <a href="#">
                                                                        <span class="menu-title">Want more ?</span>
                                                                        <span class="menu-suffix">&#x1F914;</span>
                                                                    </a>
                                                                    <div class="sub-menu-list">
                                                                        <ul>
                                                                            <li class="menu-item">
                                                                                <a href="#">
                                                                                    <span class="menu-prefix">&#127881;</span>
                                                                                    <span class="menu-title">You made it </span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item sub-menu">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="ri-bar-chart-2-fill"></i>
                                    </span>
                                    <span class="menu-title">Charts</span>
                                </a>
                                <div class="sub-menu-list">
                                    <ul>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">Pie chart</span>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">Line chart</span>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">Bar chart</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item sub-menu">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="ri-shopping-cart-fill"></i>
                                    </span>
                                    <span class="menu-title">E-commerce</span>
                                </a>
                                <div class="sub-menu-list">
                                    <ul>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">Products</span>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">Orders</span>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">credit card</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item sub-menu">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="ri-global-fill"></i>
                                    </span>
                                    <span class="menu-title">Maps</span>
                                </a>
                                <div class="sub-menu-list">
                                    <ul>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">Google maps</span>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">Open street map</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item sub-menu">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="ri-brush-3-fill"></i>
                                    </span>
                                    <span class="menu-title">Theme</span>
                                </a>
                                <div class="sub-menu-list">
                                    <ul>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">Dark</span>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">Light</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="ri-book-2-fill"></i>
                                    </span>
                                    <span class="menu-title">Documentation</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="ri-calendar-fill"></i>
                                    </span>
                                    <span class="menu-title">Calendar</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#">
                                    <span class="menu-icon">
                                        <i class="ri-service-fill"></i>
                                    </span>
                                    <span class="menu-title">Examples</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("خروج", "Login", "Account")</li>
                    </ul>

                </div>
            </div>
        </aside>
        <div id="overlay" class="overlay"></div>
        <div class="layout">
            <header class="header">
                <a id="btn-collapse" href="#">
                    <i class="ri-menu-line ri-xl"></i>
                </a>
                <a id="btn-toggle" href="#" class="sidebar-toggler break-point-lg">
                    <i class="ri-menu-line ri-xl"></i>
                </a>
            </header>
            <main class="content">
                <h2 style="float:right">اکسل حقوق و اطلاعات پرسنلی</h2>
                <div>
                    <div class="warpper">
                        <input class="radio" id="one" name="group" type="radio" checked>
                        <input class="radio" id="two" name="group" type="radio">
                        <input class="radio" id="three" name="group" type="radio">
                        <div class="tabs">
                            <label class="tab" id="one-tab" for="one">اطلاعات حقوق</label>
                            <label class="tab" id="two-tab" for="two">اطلاعات پرسنلی</label>
                            <label class="tab" id="three-tab" for="three">روند بارگذاری</label>
                        </div>
                        <div class="panels">
                            <div class="panel" id="one-panel">
                                <div class="panel-title"></div>

                                <p>
                                    فارسی ایجاد کرد. در این صورت  پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

                                </p>
                                @RenderBody()
                            </div>
                            <div class="panel" id="two-panel">
                                <div class="panel-title"></div>
                                <p>متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته</p>
                            </div>
                            <div class="panel" id="three-panel">
                                <div class="panel-title"></div>
                                <p> ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h1>توضیحات</h1>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        </p>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                            <br />
                            <a href="https://karmandiran.ir" target="_blank">کارمند ایران</a>
                        </p>
                        <div>
                            <a href="https://karmandiran.ir" target="_blank">
                                <img alt="" src="https://img.shields.io/badge/karmand-iran-lightgrey" dir="rtl"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div dir="rtl">

                    <h2>مراحل</h2>

                    <ul>
                        <li>لورم ایپسوم متن </li>
                        <li>ساختگی با تولید </li>
                        <li> نامفهوم از صنعت چاپ </li>
                        <li>استفاده از طراحان گرافیک</li>
                    </ul>
                </div>
                <div dir="rtl">
                    <h2>وب سایت‌های مرتبط</h2>
                    <ul>
                        <li>
                            <a target="_blank" href="karmandiran.ir">
                                سامانه کارمند ایران
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href=""> سامانه آپلود فایل </a>
                        </li>
                        <li>
                            <a target="_blank" href=""> وزارت نفت</a>
                        </li>
                    </ul>
                </div>
                <footer class="footer" dir="rtl">
                    <small style="margin-bottom: 20px; display: inline-block">
                        1400©
                        <i class="fa-solid fa-user"></i>
                        <a target="_blank" href="">   <i class="fa-solid fa-user"></i>       سامانه دریافت فایل </a>
                    </small>
                    <br />
                    <div>
                        <a href="" target="_blank" rel="noopener noreferrer">
                            <i class="fas fa-code"></i>                        </a>

                        <a href="" target="_blank" rel="noopener noreferrer">
                                           </a>
                    </div>
                </footer>
            </main>
            <div class="overlay"></div>
        </div>

    </div>
    <!-- partial -->
    @*<script src='https://unpkg.com/@popperjs/core@2'></script>*@
    @*<script src="~/Scripts/umd/popper.min.js"></script>*@
    <script src="~/Styles/script6.js"></script>



</body>
</html>
